<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.foodi.mapper.ChatMapper">

	<select id="chatList" parameterType="hashmap" resultType="me.foodi.domain.ChatVO">
		select chatNo, chatMsg, to_char(chatDate, 'yyyy:MM:dd:HH24:mi:ss:ff3') as chatDate, chatChk, chatDel, chatFile, reqId, resId
			from chat
			where reqId IN (#{reqId}, #{resId}) and resId IN (#{resId}, #{reqId})
			<if test="lastNo != null">
				and chatNo > #{lastNo}
			</if>
			order by chatDate
	</select>
	
	<select id="chatSelectLastMsg" parameterType="hashmap" resultType="me.foodi.domain.ChatVO">
		select * from chat
			where chatNo = (select max(chatNo)
					from chat
					where reqId IN (#{reqId}, #{resId}) and resId IN (#{resId}, #{reqId}))
	</select>
	
	<select id="chatSelectLastResId" parameterType="String" resultType="me.foodi.domain.ChatVO">
		select *
  			from chat
 			where CHATNO = (select max(CHATNO) from chat WHERE reqid = #{userId} OR resid = #{userId})
	</select>
	
	
	<select id="chatResList" resultType="String" parameterType="String">
		select distinct resId from chat
			where reqId = #{userId}
	</select>
	
	<select id="chatReqList" resultType="String" parameterType="String">
		select distinct reqId from chat
			where resId = #{userId}
	</select>
	
	<select id="chatResInfo" resultType="UserInfoVO" parameterType="String">
		select userId, userNick, userImg
			from userInfo
			where userId = #{resId}
	</select>
	
	<select id="chatSearchCheck" parameterType="hashmap" resultType="String">
		select resId from follow
			where reqId = #{reqId} and resId = #{resId}
	</select>
	
	<insert id="chatSend" parameterType="me.foodi.domain.ChatVO">
		insert into chat
			VALUES(chat_seq.nextval, #{chatMsg}, SYSTIMESTAMP, '1', '1', NULL, #{reqId}, #{resId})
	</insert>
	
	<update id="chatUpdateCheck" parameterType="hashmap">
		update chat
			set chatChk = '0'
			where reqid = #{resId} and resid = #{reqId}
	</update>
	
	<update id="chatDeleteMessage" parameterType="hashmap">
		update chat
			set chatDel = '0'
			where reqid = #{reqId} and chatno = #{chatNo}
	</update>
	
</mapper>