<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.foodi.mapper.FeedMapper">

	<insert id="feedInsert" parameterType="FeedVO">
		insert into feed values
		(feed_seq.nextval, #{userId}, #{feedContent}, #{feedImg}, null, 0, 'x', sysdate, sysdate, 'b')
	</insert>
 
</mapper>