<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.foodi.mapper.FeedMapper">
	<insert id="insertFeed" parameterType="FeedVO">
		INSERT INTO feed VALUES
		(feed_seq.nextval, #{userId}, #{feedContent}, #{feedImg, jdbcType=VARCHAR}, #{feedImgs, jdbcType=VARCHAR}, 0, #{feedLoc}, sysdate, sysdate, #{feedLock})
	</insert>
	
	<select id="getFeedNo" parameterType="FeedVO" resultType="int">
		SELECT feedNo FROM feed
		WHERE userId = #{userId} AND feedContent = #{feedContent} AND feedLoc = #{feedLoc} AND feedLock = #{feedLock} 
	</select>
 
 	<!-- Hot Tag Feed list -->
 	<select id="listTagFeed" parameterType="String" resultType="UserAndFeedVO">
 		<if test="value != null"> 		
	 		<![CDATA[
	 		select u.userId, u.userNick, u.userEmail, u.userImg, u.userLock, f.feedNo, f.feedContent, f.feedImg, f.feedLock
			from feed f, feedTag t, userInfo u
			where f.feedNo = t.feedNo and f.userId = u.userId and t.tagName=#{value} and rownum <= 8
			]]>
 		</if>
 		<if test="value == null">
 			<![CDATA[
 			select u.userId, u.userNick, u.userEmail, u.userImg, u.userLock, f.feedNo, f.feedContent, f.feedImg, f.feedLock
			from feed f, userInfo u
			where f.userId = u.userId and rownum <= 16
			order by feedNo desc
			]]>
 		</if>
 	</select>
 	
</mapper>