<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.foodi.mapper.FollowMapper">
	<select id="followerList" parameterType="SearchVO" resultType="FollowInfoVO">
		select flr.userId, flr.userNick, flr.userEmail, flr.userImg,flr.userLock, fln.userId as isFollow
		from
			(select uq.*
			from userinfo us, userinfo uq, follow f
			where us.userId = f.resId and f.reqId = uq.userId and us.userId = #{userId}) flr
			,
			(select us.userId
			from userinfo us, userinfo uq, follow f
			where uq.userId = f.reqId and f.resId = us.userId and uq.userId = #{userId}) fln
		where flr.userId = fln.userId(+)
		<if test="searchKeyword != null">
			and flr.userId like #{searchKeyword}
		</if>
	</select>

	<select id="followingList" parameterType="SearchVO" resultType="FollowInfoVO">
		select us.userId, us.userNick, us.userEmail, us.userImg, us.userLock
		from userinfo us, userinfo uq, follow f
		where uq.userId = f.reqId and
		f.resId = us.userId and uq.userId = #{userId}
		<if test="searchKeyword != null">
			and us.userId like #{searchKeyword}
		</if>
	</select>

	<insert id="followInsert" parameterType="FollowVO">
		insert into follow
		values (#{reqId}, #{resId}, sysdate)
	</insert>

	<delete id="followDelete" parameterType="FollowVO">
		delete from follow
		where reqId= #{reqId} and resId= #{resId}
	</delete>
</mapper>