<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

 	<typeAliases> 
 		<typeAlias type="me.foodi.domain.UserInfoVO" alias="UserInfoVO"/>
 		<typeAlias type="me.foodi.domain.SearchVO" alias="SearchVO"/>
 		<typeAlias type="me.foodi.domain.FeedVO" alias="FeedVO"/>
 		<typeAlias type="me.foodi.domain.SearchFeedVO" alias="SearchFeedVO"/>
 		<typeAlias type="me.foodi.domain.FollowInfoVO" alias="FollowInfoVO" />
 		<typeAlias type="me.foodi.domain.UserInfoVO" alias="UserInfoVO"/>
 		<typeAlias type="me.foodi.domain.NotifyVO" alias="NotifyVO" />
 		<typeAlias type="me.foodi.domain.FollowVO" alias="FollowVO"/>
 		<typeAlias type="me.foodi.domain.GoodVO" alias="GoodVO"/>
 		<typeAlias type="me.foodi.domain.MapVO" alias="MapVO" />
 		<typeAlias type="me.foodi.domain.TagVO" alias="TagVO" />
 	</typeAliases> 
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
				<property name="username" value="foodi"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
 		<mapper resource="me/foodi/persistence/SearchMapper.xml" />
		<mapper resource="me/foodi/persistence/FollowMapper.xml" />
		<mapper resource="me/foodi/persistence/ChatMapper.xml" />
		<mapper resource="me/foodi/persistence/UserInfoMapper.xml" />
		<mapper resource="me/foodi/persistence/FeedMapper.xml" />
		<mapper resource="me/foodi/persistence/GoodMapper.xml" />
		<mapper resource="me/foodi/persistence/NotifyMapper.xml" />
		<mapper resource="me/foodi/persistence/NewsFeedMapper.xml" />
		<mapper resource="me/foodi/persistence/MapMapper.xml"/>
		<mapper resource="me/foodi/persistence/TagMapper.xml"/>
	</mappers>
	
</configuration>
