<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.foodi.mapper.NotifyMapper">
	<insert id="notifyInsert" parameterType="NotifyVO">
		insert into notification
		values (notify_seq.nextval, #{reqId}, #{resId},#{notifyMsg}, sysdate, 'false')
	</insert>
	
	<select id="notifyList" parameterType="NotifyVO" resultType="NotifyVO">
		select notifyNo, reqId, resId, notifyMsg, notifyDate, notifyChk
		from (
			select rownum rn, notifyNo, reqId, resId, notifyMsg, notifyDate, notifyChk
			from notification 
			where resId = #{resId}
			order by notifyNo)
		<where>
			<!-- here notifyNo is start row -->
			<if test="notifyNo != -1">
				<![CDATA[
					rn >= #{notifyNo}
				]]>  
			</if>
		</where>
	</select>
	
	<update id="notifyChkUpdate" parameterType="NotifyVO">
		update notification
		set notifyChk = 'true'
		where notifyNo = #{notifyNo}
	</update>
	
	<select id="notifyCntList" parameterType="NotifyVO" resultType="int">
		select count(*) from notification where resId = #{resId}
	</select>
	
	
</mapper>