<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.foodi.mapper.QookMapper">

	<insert id="qookInsert" parameterType="QookVO">
		insert into qook
		values (#{userId}, #{feedNo}, sysdate)
	</insert>

	<delete id="qookDelete" parameterType="QookVO">
		delete from qook
		where userId = #{userId} and feedNo = #{feedNo}
	</delete>
	
	<select id="qookFeedList" parameterType="QookVO" resultType="UserAndFeedVO">
		select f.userId, f.feedNo, f.feedImg, f.feedLoc, f.feedDate, f.feedLock, u.userNick, u.userImg, u.userLock
		from userInfo u, qook q, feed f
		where u.userId=f.userId and f.feedNo=q.feedNo and q.userId = #{userId}
	</select>
</mapper>