<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.foodi.mapper.SearchMapper">

 	<select id="searchUser" parameterType="SearchVO" resultType="UserInfoVO">
		select * from userinfo where userId LIKE #{searchKeyword}
	</select>
	
	<select id="searchFeed" parameterType="SearchVO" resultType="SearchFeedVO">
		SELECT f.feedno,f.userid,f.feedcontent,f.feedImg,f.feedgoodcnt,f.feedLoc,
			f.feeddate,f.feedlock, t.tagname, i.userImg
			FROM feed f, feedtag t, userinfo i
			where f.feedno=t.feedno
			AND f.userId=i.userId
			AND (f.feedcontent LIKE #{searchKeyword} OR t.tagname LIKE #{searchKeyword})
	</select>
	
	<insert id="insertSearch" parameterType="SearchVO">
		INSERT INTO search VALUES(search_seq.nextval,#{searchKeyword},sysdate, #{userId, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertSsg" parameterType="SsgVO">
		INSERT INTO ssg VALUES(#{tagName},#{userId})
	</insert>
	
	<select id="searchSsg" parameterType="String" resultType="String">
		select tagName from ssg where userId=#{userId}
	</select>
	
	<select id="searchTag" resultType="String" parameterType="String">
		select distinct tagName
			from feedTag
				where tagName like #{keyword}
	</select>
	
	<select id="ssgCheck" parameterType="hashmap" resultType="String">
			select tagname
				from ssg
					where tagname in
						<foreach collection="ssgArr" item="ssg" open="(" separator="," close=")">
							#{ssg}
						</foreach>
	</select>
	
	<delete id="ssgCancel">
		delete from ssg
			where userId=#{userId} and tagname=#{tagName}
	</delete>
</mapper>