<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.foodi.mapper.TagMapper">
	<insert id="insertTag" parameterType="TagVO">
		INSERT INTO feedTag VALUES
		(#{feedNo}, #{tagName})
		
	
	</insert>
	
	<select id="listHTG" resultType="TagVO">
		<![CDATA[
		select tagName
		from (select t.tagName, count(t.tagName) as hotTag
      			from feedTag t, feed f 
     			where t.feedNo = f.feedNo and f.feedDate > (sysdate - 7)
      			group by t.tagName
      			order by hotTag desc)
		where rownum< 3
		]]>
	</select>
	
	<select id="callTag" parameterType="int" resultType="TagVO">
		SELECT * FROM feedTag
			WHERE feedNo = #{feedNo}
	</select>
	
	<select id="searchAutoComplete" resultType="String" parameterType="String">
		select tagName
			from feedTag
				where tagName like #{keyword}
	</select>
</mapper>