@CHARSET "UTF-8";
/* all */
*{margin:0px; padding:0px;}
body{ margin:0 auto; width:1400px; }

/* head */
nav{height:60px;}
header{height:450px; 
text-align: center; 
background-image: url("/Foodi/css/images/mg.png");}


h1{
	width:450px; 
background-image: url("/Foodi/css/icon/logo.png");
height:200px; 
margin-top:40px;   
display: inline-block; 
} 



.search-1{display: inline-block; 
height:40px; margin-top: 50px;
margin-top: 10px;
 
 }
 
.search-2{display: inline-block; 
height:40px; margin-top: 50px;
 
 }
 
 #search{width: 500px;
margin-right:50px;
background-image: url("/Foodi/css/icon/searchBar.png");
} 	
 
 
#searchIcon{width:50px; 
margin-left:30px;
background-image: url("/Foodi/css/icon/dot.png");}


/* section */
section{margin-top:20px;}
article{height: 250px; margin-top: 30px;}
h2{color: red;}
h3{color: orange;}
#line{height:3px; background-color: black;}
.ulBox{width: 1280px; overflow: hidden; float: left; position: relative;}
article ul{width: 1280px; position: relative; left: 0px;}
article li{display: inline-block; background-color: orange; width: 300px; height: 200px; margin-left: 10px; margin-right: 10px;}
.arrow{float:left; width: 60px; font-size: 40px; color:orange;  text-align: center; line-height: 190px;}
.arrow:HOVER {cursor: pointer; color: gray;}