@CHARSET "UTF-8";
/* all */
*{margin:0px; padding:0px;}
body{ margin:0 auto; width:1400px; }

/* head */
nav{height:60px;}
header{height:450px; text-align: center; background-image: url("/Foodi/css/images/mainFood.png");}
h1{width:450px; height:200px; margin-top:80px; display: inline-block; background-color: gray;}
.search{display: inline-block; height:40px; margin-top: 20px; background-color: gray;}
#searchIcon{width:50px; margin-right: 10px;}
#search{width: 500px;}

/* section */
section{margin-top:20px;}
article{height: 250px; margin-top: 10px;}
h2{color: red;}
h3{color: orange;}
#line{height:3px; background-color: black;}
.ulBox{width: 1280px; overflow: hidden; float: left; position: relative;}
ul{width: 1280px; position: relative; left: 0px;}
li{display: inline-block; background-color: orange; width: 300px; height: 200px; margin-left: 10px; margin-right: 10px;}
.arrow{float:left; width: 60px; font-size: 40px; color:orange;  text-align: center; line-height: 190px;}
.arrow:HOVER {cursor: pointer; color: gray;}