@charset "UTF-8";
/* all */
*{margin: 0px; padding: 0px;}
body {width:1400px; margin: 0 auto;}
a{text-decoration: none;}
li{list-style: none;}

/* nav */
nav > div {float: left;}
nav {height: 60px;}

/* section */
section{margin-top: 20px;}
article{float: left; overflow: hidden;}
#middle{width: 600px; 
margin-left:400px; 
margin-right: 10px;
border: 2px solid;
border-color: #FFC30B;
height: 750px;
margin-top: 30px;
}

h2{
	text-align: center;
}
.side{width:250px; height:830px; padding:5px; border: 1px solid;}

/* head */
nav{
	height:60px;
}

header{
	height:450px; 
	margin-left: 450px;
}

li{
	margin-top: 30px;
	margin-left: 200px;
}

