@CHARSET "UTF-8";
#nfList li{
	margin-top: 40px; border: 2px solid #ffcd47;
	height: 400px;
}

/* list view */
.feed_bottom button{
	width: 250px; height:30px; margin-left: 25px;
	border: 2px solid #ffcd47; 
	transition:all .5s ease;
}

#middle button:HOVER{
	background-color: #ffcd47;
	color: white;
	cursor: pointer;
}
.feed_middle{height: 270px;}
.detail_btn{background-color: white;}

