@CHARSET "UTF-8";

#search_result {
	border: 5px solid #ffcd47;
	margin-left: 10px;
	padding: 20px 20px;
	font-size: 40px;
	color: #463300;
}

#searchKeyword {
	font-weight: bolder;
}

#user_title {
	border: 5px solid #ffcd47;
	padding: 5px;
	width: 75px;
}

.user {
	width: 150px;
	height: 220px;
	margin: 20px 0px 20px 30px;
	color: #463300;
}

.id {
	text-align: center;
	font-size: 30px;
	color: #463300;
	font-weight: bold;
}

.nick {
	text-align: center;
	font-size: 20px;
	color: #463300;
}

article ul {
	list-style: none;
	width: 820px;
	height: 260px;
}

article li {
	border: 1px solid #ffcd47;
	float: left;
	color: #463300;
}

.feed_title {
	border: 5px solid #ffcd47;
	padding: 5px;
	width: 50px;
	margin-left: 3px;
}

.feed {
	width: 150px;
	height: 150px;
	margin: 2px;
	padding: 5px;
}

.feed_img {
	padding: 10px;
	width: 130px;
	height: 100px;
}

.feed_content {
	padding-left: 10px;
}

.feed_tag {
	padding-left: 80px;
}

article input {
	background: #ffcd47;
	color: #fff;
	border: none;
	height: 60px;
	font-size: 1.6em;
	padding: 0 2em;
	margin-left: 30px;
}

.ssgbtn {
	background: #fff;
	color: #ffcd47;
	border: none;
	height: 60px;
	font-size: 1.6em;
	padding: 0 2em;
	margin-left: 30px;
	position: relative;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

.ssgbtn:hover {
	background: #ffcd47;
	color: #fff;
}

.ssgbtn:before, .ssgbtn:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #fff;
	transition: 400ms ease all;
}

.ssgbtn:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.ssgbtn:hover:before, .ssgbtn:hover:after {
	width: 100%;
	transition: 800ms ease all;
}