@CHARSET "UTF-8";

ul {
	list-style: none;
}

#userMenu li {
	display: inline;
}

.hidden {
	display: none;
}

#menuButton {
	margin-right: 150px;
}

#searchForm {
	margin: 3px 50px;
}

#searchSpace {
	font-size: 30px;
	width: 600px;
	height: 50px;
}

#searchButton {
	height: 50px;
	width: 50px;
	margin-top: 0px;
}

#menuBar {
	margin-top: 60px;
	width: 250px;
	height: 500px;
	padding: 5px;
	position: absolute;
	left: 0px;
	background-color: yellow;
	z-index: 101;
}

#userMenu {
	position: relative;
	float: right;
	right: 0%;
}

#notifyList {
	margin-top: 60px;
	width: 300px;
	height: 300px;
	padding: 6px;
	position: absolute;
	right: 0px;
	background-color: orange;
	overflow: auto;
}

.menuProfileImg{
	width: 250px;
	height: 250px;
}

.menuNick {
	font-weight: bold;
}

.menuLink {
	font-weight: bold;
}