@CHARSET "UTF-8";

#userMenu li {
	display: inline;
}

.hidden {
	display: none;
}

#menuButton {
	
}

#searchForm {
	
}

#menuBar {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 200px;
	padding: 5px;
	margin-top: 60px;
}

#userMenu {
	position: relative;
	margin-right: 10px;
	float: right;
}